*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gloock", serif;
    background: url(./img/particles-7104407_1280.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1, h2, h3 {
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}


button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.add-task {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.task-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 430px;
    margin-top: 16px;
    background-color: rgba(26, 90, 103, 0.723);
}

#button-add {
    background-color: rgb(11, 118, 11);
    color: white;
}

#button-add:hover {
    background-color: rgb(104, 191, 17);
}

.clear-task {
    background-color: rgba(255, 0, 0, 0.542);
    color: white;
}

.clear-task:hover{
    background-color: red;
}

ul li {
    list-style: none;
}

li {
    padding: 10px;
    background-color: rgba(252, 252, 252, 0.544);
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 16px 0;
    border-color: black;
}

li:hover {
    background-color: #f9f9f996;
}

.line-through {
    text-decoration: line-through;
    color: red;
}

h3 {
    text-align: center;
    color: #ffffff;
}

.remove-task {
    background-color: rgba(255, 0, 0, 0.542);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.remove-task:hover{
    background-color:  red;
}

.rodape {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background-color:rgba(26, 90, 103, 0.723);
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}